@model IEnumerable<Admin.Context.Theatre>

@{
    ViewBag.Title = "Index";
}

<h2>Theatre Table</h2>

<p>
    @Html.ActionLink("Create New", "Add_Theatre")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Theatre_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theatre_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager_Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Movie_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Theatre_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theatre_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager_Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Movie_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Theatre_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Theatre_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Theatre_ID })
        </td>
    </tr>
}

</table>
